* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


body {
  max-width:  700px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/lanchid') no-repeat center center fixed;
  background-size: cover;
  line-height: 250%;
}

.content {
  width: 80%;
  margin: 40% auto 60% auto;
  text-align: center;
  background-color: rgba(0, 0, 0,.5);
  color: blanchedalmond;
  border-radius: 5%;
  padding: 5%;
  box-shadow: hsla(100, 0%, 0%, .8) 10px 10px 30px;
}

.citation {
  font-size: 26px;
  font-weight: 600;
  font-family: Arial;
}

.author {
  margin-top: 50px;
  font-size: 18px;
  font-family: Arial;
}
