* {
  box-sizing: border-box;
}


body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/lanchid') no-repeat center center fixed;
  background-size: cover;
  line-height: 250%;
  margin: 3rem auto;
}

.content {
  width: 80%;
  max-width:  700px;
  margin: 40% auto 60% auto;
  text-align: center;
  background-color: rgba(0, 0, 0,.5);
  color: blanchedalmond;
  border-radius: 5%;
  padding: 5%;
  box-shadow: hsla(100, 0%, 0%, .8) .625rem .625rem 1.875rem;
}

.citation {
  font-size: 1.625rem;
  font-weight: 600;
  font-family: Arial;
}

.author {
  margin-top: 3.125rem;
  font-size: 1.125rem;
  font-family: Arial;
}
